* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: $bg;
  color: $black;
  font-size: 16px;
  font-weight: 400;
}
.bg-white {
  background-color: $white;
}
.hidden {
  overflow: hidden;
}
.text-gray-200 {
  color: $gray-200;
}
.shadow-add {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
