footer {
  background-color: $white;
  .footer-content {
    padding: 32px 0;
  }
  h5 {
    font-size: 16px;
    font-weight: 600;
  }
  p,
  a {
    font-weight: 300;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 8px;
    }
  }
  a {
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }
  .copyright {
    background-color: $secondary;
    color: $white;
    font-weight: 300px;
    padding: 16px;
  }
}

@media (max-width: 991px) {
  footer {
    margin-bottom: 60px;
  }
}
